---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "Who am I",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">What Am I About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			I've spent quite some time writing and rewriting this because I hate talking abut myself. But,
			I think I'm just overthinking it. I have always been interested in technology and all the different ways it can be used
			to create things that didn't exist before, as well as solve problems.
		</p>
		<p>
			I have been working in the tech industry for over 8 years now. My history has been with web development,
			but I have also worked with mobile development and desktop development. I have worked with a variety of
			technologies and frameworks, but I have a particular interest in AI and how it can be used to create the world we want to see.
		</p>
		<p>
			These problems were my own at first, small things like how do I how recharge dead batteries
		</p>
		<p>My professional career has been with:</p>
		<ul class="list-inside list-disc" role="list">
			<li>Parsons School of Design</li>
			<li>GSW / Syneos Health Marketing</li>
			<li>Fingerpaint Marketing</li>
			<li>Cartier's Retail Innovation Lab</li>
		</ul>
		<p>
			Feel free to download my <a
				aria-label="github repository"
				class="cactus-link inline-block"
				href="https://github.com/chrismwilliams/astro-cactus"
				rel="noreferrer"
				target="_blank">resume</a
			> if you want a bit more detail about my professional career.
		</p>
	</div>
</PageLayout>
